section#result {
  max-width: 30.125rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & h2 {
    font: var(--label-medium);
    color: var(--content-primary);
    margin-bottom: 0.5rem;
  }

  & h3 {
    font: var(--overline);
    color: var(--content-secondary);
    margin-bottom: 2.5rem;
  }

  & #results {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    gap: 1rem;

    & .result-container {
      position: relative;
      margin-bottom: 2.5rem;

      & #bg-result {
        border-radius: 28px;
        width: 6.25rem;
        height: 6.25rem;
        animation: 4s ease forwards result-animation, 2s ease 1s forwards rotate;
      }

      & span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        font: 700 3rem/150% var(--ff-roboto-mono);
        color: var(--color-inverse);
        animation: 3s ease 1.5s forwards appear,
          1s ease 2.5s forwards change-color;
        z-index: 1;
      }
    }
  }

  & button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    background: var(--background-tertiary);
    font: var(--label-medium);
    border-radius: 8px;
    padding-block: 1rem;
    color: var(--content-primary);
    cursor: pointer;
    position: relative;

    & .container-play {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      & .play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &::before {
      content: "";
      position: absolute;
      border-radius: 9px;
      width: 100%;
      height: 100%;

      background: var(--gradient-border);
      z-index: -1;
    }

    &:hover {
      background: var(--background-secondary);

      & img.circle-play {
        animation: play-rotate 1s ease-in-out infinite;
      }

      &::before {
        width: 101.08%;
        height: 105%;
        animation: bg-gradient 1s ease-in-out infinite alternate;
      }
    }
  }
}

@keyframes bg-gradient {
  0% {
    background: linear-gradient(
      0deg,
      #77c0af 0%,
      #d1dc97 14.84%,
      #e9a9b3 32.15%,
      #d586e0 65.79%,
      #91a1fa 84.58%
    );
  }

  20% {
    background: linear-gradient(
      60deg,
      #77c0af 0%,
      #d1dc97 14.84%,
      #e9a9b3 32.15%,
      #d586e0 65.79%,
      #91a1fa 84.58%
    );
  }

  40% {
    background: linear-gradient(
      120deg,
      #77c0af 0%,
      #d1dc97 14.84%,
      #e9a9b3 32.15%,
      #d586e0 65.79%,
      #91a1fa 84.58%
    );
  }

  55% {
    background: linear-gradient(
      180deg,
      #77c0af 0%,
      #d1dc97 14.84%,
      #e9a9b3 32.15%,
      #d586e0 65.79%,
      #91a1fa 84.58%
    );
  }

  75% {
    background: linear-gradient(
      240deg,
      #77c0af 0%,
      #d1dc97 14.84%,
      #e9a9b3 32.15%,
      #d586e0 65.79%,
      #91a1fa 84.58%
    );
  }

  90% {
    background: linear-gradient(
      300deg,
      #77c0af 0%,
      #d1dc97 14.84%,
      #e9a9b3 32.15%,
      #d586e0 65.79%,
      #91a1fa 84.58%
    );
  }

  100% {
    background: linear-gradient(
      360deg,
      #77c0af 0%,
      #d1dc97 14.84%,
      #e9a9b3 32.15%,
      #d586e0 65.79%,
      #91a1fa 84.58%
    );
  }
}

@keyframes play-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes result-animation {
  0% {
    scale: 0;
  }

  60% {
    scale: 1;
    background: var(--content-brand);
  }

  100% {
    scale: 0;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes change-color {
  100% {
    color: var(--content-brand);
  }
}
